&spi1 {
	compatible = "nordic,nrf-spim";
	status = "ok";
	mosi-pin = <4>;
	miso-pin = <10>;	//<10>;	//<5>;
	sck-pin = <6>;
	cs-gpios = < &gpio0 7 0x1 >; // gpio: p0.07
	cs47l63@0 {
		compatible = "cirrus_logic,cs47l63";
		label = "CS47L63";
		reg = <0>;	
	};	
};

&spi2 {
	status = "disabled";
};

&i2c1 {
    status = "disabled";
};
