#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "UDP Sample Settings"

config UDP_DATA_UPLOAD_SIZE_BYTES
	int "Number of bytes transmitted to the server"
	default 10

config UDP_DATA_UPLOAD_FREQUENCY_SECONDS
	int "How often data is transmitted to the server"
	default 60

config UDP_SERVER_ADDRESS_STATIC
	string "UDP server IP address"
	default "8.8.8.8"

config UDP_SERVER_PORT
	int "UDP server port number"
	default "2469"

config UDP_PSM_ENABLE
	bool "Enable LTE Power Saving Mode"
	default y

config UDP_EDRX_ENABLE
	bool "Enable LTE enhanced Discontinuous Reception"

config UDP_RAI_ENABLE
	bool "Enable LTE Release Assistance Indication"

config UDP_ON_OFF_ENABLE
	bool "Enable LTE ON OFF between data transmitting, no PSM, eDRX used if this enabled"
	default n

config USE_CFUN_0_OFF
	bool "Use CFUN=0 to switch off modem, otherwise CFUN=4 used"
	default n

config RECEIVE_UDP_PACKETS
	bool "Receve UDP return packets if enabled."
	default n

config TEST_USE_TCP
	bool "use TCP instead of UDP for testing."
	default n

config UDP_RECV_TIMEOUT_SECONDS
	int "timeout for UDP receiving"
	default 2

endmenu

module = UDP
module-str = UDP sample
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
